@import "templates";
@import "blocks/post-block";
@import "./vendor/slick";

.promo {
  position: relative;
  max-width: 1080px;
  margin: 25px auto 0 auto;
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
  &__img {
    img {
      width: 100%;
      border-radius: 5px;
      @media (max-width: 1024px) {
        border-radius: 0;
      }
    }
  }
  &__offer {
    padding-top: 20px;
    padding-bottom: 20px;
    @include adaptive-value('padding-top', 20, 15, 0);
    @include adaptive-value('padding-bottom', 20, 15, 0);
    @include adaptive-value("padding-left", 0, 70, 1);
    @include adaptive-value("padding-right", 0, 70, 1);
    background: rgba(0, 0, 0, 0.31);
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: absolute;
    top: 90px;
    @include adaptive-value("top", 90, 35, 1);
    text-align: center;

    h1 {
      color: #FFFFFF;
    }
  }
  &__button {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    @include adaptive-value("bottom", 90, 35, 1);
    .title-1 {
      font-weight: 700!important;
    }
  }
}

.priceLine {
  @include adaptive-value("margin-top", 60, 45, 1);
  &__row {
    background-color: $bright_green;
    border-radius: 3px;
    display: flex;
    align-items: center;
    @include adaptive-value("padding-top", 20, 10, 1);
    @include adaptive-value("padding-bottom", 20, 10, 1);
    @include adaptive-value("padding-left", 40, 10, 1);
    @include adaptive-value("padding-right", 40, 10, 1);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &__text {
    @include adaptive-value("font-size", 18, 12, 1);
    font-weight: 500;
    color: #fefefe;
  }
  &__icon {
    flex: 0 0 40px;
    background-color: $dark_green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value("margin-right", 20, 10, 1);
  }
  i {
    @include adaptive-value("font-size", 22, 14, 1);
    color: #fefefe;
  }
}

.homeFeatures {
  margin-top: 60px;
  @include adaptive-value("margin-top", 60, 45, 1);
  &__title {
    margin-bottom: 60px;
    text-align: center;
    @include adaptive-value("margin-bottom", 60, 30, 1);
  }
  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 0 200px;
    @media (max-width: 1024px) {
      flex: 0 0 calc(50% - 35px);
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &__image {
    margin-bottom: 50px;
    @include adaptive-value("margin-bottom", 50, 18, 1);
  }
  &__text {
    text-align: center;
  }
}

.homeCarousel {
  margin-top: 60px;
  @include adaptive-value("margin-top", 60, 45, 1);
  &__title {
    text-align: center;
    margin-bottom: 22px;
    @media (max-width: 1024px) {
      margin-bottom: 19px;
    }
  }
  &__subtitle {
    margin-bottom: 22px;
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
    @media (max-width: 1024px) {
      margin-bottom: 19px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &__row {
    max-width: 1080px;
    width: 1080px;
    margin: 0 auto 20px auto;
    @media (max-width: 1120px) {
      width: calc(100% - 40px);
    }
    @media (max-width: 1080px) {
      width: 100%;
    }
    @media (max-width: 1024px) {
      margin-bottom: 12px;
    }
  }
  &__item {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      display: block;
    }
  }
  &__dots {
    display: flex;
    justify-content: center;
  }
}

.homeReviews {
  margin-top: 60px;
  @media (max-width: 1024px) {
    margin-top: 45px;
  }
  &__title {
    text-align: center;
    margin-bottom: 90px;
    @media (max-width: 1024px) {
      margin-bottom: 23px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    @media (max-width: 1024px) {
      margin-bottom: 40px;
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 0 calc(33.3% - 30px);
    background-color: $light_green;
    border-radius: 5px;
    padding: 0 30px 30px 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 1024px) {
      padding: 14px 20px 25px 20px;
      margin-bottom: 23px;
      flex: 0 0 100%;
    }
  }
  &__item:last-child {
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
  &__image {
    width: 100px;
    border-radius: 50%;
    margin: -50px auto 30px auto;
    display: block;
    @media (max-width: 1024px) {
      width: 80px;
      margin: 0 auto 14px auto;
    }
  }
  &__name {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      margin-bottom: 14px;
    }
  }
  &__content {
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      margin-bottom: 23px;
    }
  }
  &__label {
    text-align: center;
    font-size: 15px;
    @include adaptive-value("font-size", 15, 9, 1);
    color: #797979;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
}

.homeNumbers {
  margin-top: 75px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1024px) {
    margin-top: 45px;
  }
  &__title {
    text-align: center;
    margin-bottom: 14px;
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 50px 40px;
    border-radius: 5px;
    @media (max-width: 1080px) {
      border-radius: 5px;
    }
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      padding: 0 20px 50px 20px;
    }
  }
  &__row::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
    top: -20px;
    filter: blur(80px);
    background: #eaf0eb;
    z-index: -1;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__item {
    flex: 0 0 calc(25% - 50px);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    @media (max-width: 1100px) {
      flex: 0 0 calc(25% - 15px);
    }
    @media (max-width: 1024px) {
      flex: 0 0 calc(50% - 4px);
      margin-bottom: 8px;
    }
  }
  &__number {
    text-align: center;
    font-size: 50px;
    @include adaptive-value("font-size", 50, 40, 1);
    border-radius: 5px;
    border: solid 1px #000000;
    margin-bottom: 15px;
  }
}

.homeQuestion {
  margin-top: 60px;
  &__title {
    text-align: center;
    margin-bottom: 25px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 25px;
    p {
      color: #000000!important;
    }
  }
  &__item {
    margin-bottom: 5px;
    padding: 30px 25px;
    background-color: #16100C;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    @include adaptive-value("padding-top", 30, 15, 1);
    @include adaptive-value("padding-bottom", 30, 15, 1);
    @include adaptive-value("padding-right", 25, 10, 1);
    @include adaptive-value("padding-left", 25, 10, 1);
  }
  p, span {
    color: #FFFFFF;
  }
  &__btn {
    flex: 0 0 50px;
    margin-right: 35px;
    margin-bottom: 0;
    transition: margin-bottom .3s ease;
    @include adaptive-value("margin-right", 35, 25, 1);
    @include adaptive-value("flex-basis", 50, 20, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      display: block;
      width: 35px;
      height: 35px;
      transition: transform .3s ease;
      @include adaptive-value("width", 35, 15, 1);
      @include adaptive-value("height", 35, 15, 1);
    }
  }
  &__gap {
    flex: 0 0 85px;
    @include adaptive-value("flex-basis", 50, 20, 1);
    margin-right: 35px;
    @media (max-width: 1080px) {
      @include adaptive-value("margin-right", 35, 25, 1);
    }
  }
  &__name {
    flex: 0 0 calc(100% - 85px);
    @media (max-width: 768px) {
      flex: 0 0 calc(100% - 60px);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    transition: margin-bottom .3s ease;
    padding-top: 3px;
    @media (max-width: 1024px) {
      padding-top: 0;
    }
  }
  &__answer {
    flex: 0 0 calc(100% - 85px);
    max-height: 0;
    transition: max-height .3s ease;
    overflow: hidden;
  }

  .homeQuestion__item.active {
    .homeQuestion__btn {
      img {
        transform: rotate(45deg);
      }
    }
    .homeQuestion__answer {
      max-height: 200px;
    }
    .homeQuestion__name {
      margin-bottom: 35px;
      @include adaptive-value("margin-bottom", 35, 15, 1);
    }
    .homeQuestion__btn {
      margin-bottom: 35px;
      @include adaptive-value("margin-bottom", 35, 15, 1);
    }
  }
}

.homeAtmosphere {
  margin-top: 60px;
  @media (max-width: 1024px) {
    margin-top: 45px;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 25px;
  }
  &__body {

  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    @include adaptive-value("margin-bottom", 65, 25, 1);
  }
  &__row:last-child {
    margin-bottom: 0;
  }
  &__content {
    flex: 0 0;
    flex-basis: 525px;
    padding-top: 10px;
    @media (max-width: 1140px) {
      @include adaptive-value("flex-basis", 450, 130, 1);
    }
  }
  &__img {
    flex: 0 0;
    flex-basis: 525px;
    overflow: hidden;
    border-radius: 5px;
    @media (max-width: 1140px) {
      $maxWidthContainer: 1200;
      @include adaptive-value("flex-basis", 450, 130, 1);
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  &__name {
    margin-bottom: 45px;
    @include adaptive-value("margin-bottom", 45, 15, 1);
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__text {

  }
}

.homeCallback {
  margin-top: 100px;
  @include adaptive-value("margin-top", 100, 40, 1);
}