*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none!important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth!important;
}

body {
  position: relative;
  overflow-x: hidden;
}

.lightBg {
  background-color: rgba(205, 220, 205, 60%);
}

.lightBg::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/picture/layer_bg.png");
  opacity: 0.3;
}

.lightBg.no-opacity {
  &::before {
    opacity: 1;
  }
}

@import "templates";

section {
  overflow: hidden;
  position: relative;
}

.container, .c-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1080px;
  @media (max-width: 1120px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.no-select {
  -webkit-user-select: none!important;  /* Chrome all / Safari all */
  -moz-user-select: none!important;     /* Firefox all */
  -ms-user-select: none!important;      /* IE 10+ */
  user-select: none!important;          /* Likely future */
  cursor: default;
}

// Typography

p, a, span, h1, h2, h3, h4, h5, h6, li, pre, label, div, button, input, input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
}

.bold {
  font-weight: 700;
}

.title-1 {
  font-size: 24px;
  @include adaptive-value("font-size", 24, 14, 1);
  font-weight: 700;
  @media (max-width: 1024px) {
    font-weight: 500;
  }
}

.mainText-1 {
  font-size: 18px;
  line-height: 150%;
  @include adaptive-value("font-size", 18, 10, 1);
}

.mainText-2 {
  line-height: 130%;
  @include adaptive-value("font-size", 14, 10, 1);
}

.mainTextBig {
  font-size: 24px;
  line-height: 120%;
  @include adaptive-value("font-size", 24, 10, 1);
}


// Buttons
.whiteBtn1 {
  text-decoration: none;
  padding: 10px 20px;
  color: $dark_green;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: solid 1px $dark_green;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  transition: background-color .2s ease;
  &:hover {
    background-color: #a4cbb1;
  }
}

.greenBtn1 {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: $dark_green;
  background-color: $green1;
  border-radius: 4px;
  border: solid 1px $dark_green;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  transition: background-color .2s ease;
  line-height: 1.3;
  @media (max-width: 1024px) {
    font-size: 15px;
  }
  &:hover {
    background-color: #ffffff;
  }
}

.bigBtn {
  padding: 27px 55px;
  font-size: 24px;
  line-height: 120%;
  @include adaptive-value("padding-top", 25, 10, 1);
  @include adaptive-value("padding-bottom", 25, 10, 1);
  @include adaptive-value("padding-left", 55, 30, 1);
  @include adaptive-value("padding-right", 55, 30, 1);
  @include adaptive-value("font-size", 24, 15, 1);
  border-radius: 20px;
  display: inline-block;
  background-color: $sand;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: background-color .2s ease;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $bright_sand;
  }
}

.bigBtn.green {
  color: #FFFFFF;
  background-color: $dark_green;
  &:hover {
    background-color: $bright_green;
  }
}



.blueBtn {
  color: #FFFFFF;
  border-radius: 5px;
  padding: 15px 40px;
  text-align: center;
  font-size: 24px;
  line-height: 120%;
  cursor: pointer;
  background-color: #152352;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color .2s ease;
  &:hover {
    background-color: #152c85;
  }
  @include adaptive-value("font-size", 24, 10, 1);
  @media (max-width: 1024px) {
    width: 100%;
    padding: 20px 40px;
  }
}

.showPoint {
  a {
    display: block;
    color: #FFFFFF;
    background-color: $dark_green;
    transition: background-color .15s ease;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2px;
    width: fit-content;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    span {
      color: #ffffff;
    }
    &:hover {
      background-color: $bright_green;
    }
  }
}

.closeBtn {
  position: relative;
  z-index: 10;
  width: 46px;
  height: 20px;
  cursor: pointer;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-color: #333;
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    width: 25px;
    height: 2px;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
  }
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    background-color: #333;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    width: 25px;
    height: 2px;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
  }
}

.closeBtn:hover:after {
  background-color: $dark_green;
  -webkit-transform: rotateZ(0);
  -ms-transform: rotate(0);
  transform: rotateZ(0);
  top: 50%;
}

.closeBtn:hover:before {
  background-color: $dark_green;
  -webkit-transform: rotateZ(0);
  -ms-transform: rotate(0);
  transform: rotateZ(0);
  bottom: 50%;
}

.stickyBtn {
  position: fixed;
  top: 50px;
  left: 50px;
  @media (max-width: 1024px) {
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 70px;
  }
  transition: transform .3s ease, opacity .3s ease;
  @media (min-width: 1024px) {
    &:hover {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
  border-radius: 20px;
  padding: 10px 30px;
  -webkit-box-shadow: 1px 0px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 0px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 0px 6px 0px rgba(50, 50, 50, 0.75);
  display: block;
  font-size: 16px;
  @include adaptive-value("font-size", 16, 10, 1);
  color: #fafafa;
  text-decoration: none;
  background: $dark_green;
  background: linear-gradient(-45deg, $dark_green, $bright_green, #152352, #152c85);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  visibility: hidden;
  cursor: default;
  opacity: 0;
  pointer-events: none;
  &.visible {
    cursor: pointer;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}

.titleAnimated {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

@import "header";
@import "footer";
@import "callback";
@import "popup";
@import "notification";

// Loader
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

// Animations

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

