.mapPopup {
  width: 210px;
}
.mapPopup__row {
  display: flex;
  justify-content: space-between;
}
.mapPopup__column {
  flex: 0 0 100px;
}
.mapPopup__title {
  display: block;
  font-size: 12px;
  margin-bottom: 7px;
}
.mapPopup img {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  border-radius: 2px;
}
.mapPopup__capacity {
  padding-top: 22px;
}
.mapPopup__capacity, .mapPopup__price {
  display: block;
  font-size: 10px;
  margin-bottom: 7px;
}
.mapPopup__open {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
}
.mapPopup i {
  color: #114410;
}

.popupGallery {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  padding: 80px 0;
  overflow-y: scroll;
  -ms-overflow-y: scroll;
}
.popupGallery__body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(17, 68, 17, 0.72);
  border-radius: 5px;
  padding-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
}
@media (max-width: 1080px) {
  .popupGallery__body {
    width: calc(100vw - 20px);
  }
}
@media (max-width: 1080px) {
  .popupGallery__body {
    padding-bottom: calc(15px + 35 * ((100vw - 320px) / 760));
  }
}
.popupGallery__body > div {
  padding-left: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1080px) {
  .popupGallery__body > div {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .popupGallery__body > div {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 760));
  }
}
.popupGallery__body::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./../../img/picture/layer_bg.png");
  opacity: 0.3;
  border-radius: 5px;
}
.popupGallery__header {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1080px) {
  .popupGallery__header {
    text-align: center;
  }
}
.popupGallery__title span {
  font-weight: 700;
  font-size: 24px;
  font-size: 24px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .popupGallery__title span {
    font-weight: 400;
  }
}
@media (max-width: 1080px) {
  .popupGallery__title span {
    font-size: calc(14px + 10 * ((100vw - 320px) / 760));
  }
}
.popupGallery__close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10001;
}
.popupGallery__close i {
  font-size: 35px;
  font-size: 35px;
  color: #ffffff;
  transition: color 0.2s ease;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .popupGallery__close i {
    font-size: calc(20px + 15 * ((100vw - 320px) / 760));
  }
}
.popupGallery__close i:hover {
  color: #badbb3;
}
.popupGallery__gallery {
  position: relative;
  background-color: #000000;
  height: 440px;
  height: 440px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1080px) {
  .popupGallery__gallery {
    height: calc(240px + 200 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .popupGallery__gallery {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) {
  .popupGallery__gallery {
    padding-bottom: calc(10px + 20 * ((100vw - 320px) / 760));
  }
}
.popupGallery__slider {
  flex: 0 0 650px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}
@media (max-width: 1080px) {
  .popupGallery__slider {
    flex: 0 0 100%;
  }
}
.popupGallery__slider .slick-track {
  display: flex;
}
.popupGallery__slider .popupGallery__bg {
  height: 380px;
  border-radius: 2px;
  height: 380px;
}
@media (max-width: 1080px) {
  .popupGallery__slider .popupGallery__bg {
    height: calc(230px + 150 * ((100vw - 320px) / 760));
  }
}
.popupGallery__arrows {
  z-index: 1001;
}
.popupGallery__arrows i {
  color: rgba(16, 65, 16, 0.7);
  font-size: 50px;
  font-size: 50px;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .popupGallery__arrows i {
    font-size: calc(25px + 25 * ((100vw - 320px) / 760));
  }
}
.popupGallery__arrows .arrowLeft {
  position: absolute;
  left: 45px;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1080px) {
  .popupGallery__arrows .arrowLeft {
    left: calc(15px + 30 * ((100vw - 320px) / 760));
  }
}
.popupGallery__arrows .arrowRight {
  position: absolute;
  left: 615px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1080px) {
  .popupGallery__arrows .arrowRight {
    left: auto;
    right: 45px;
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__arrows .arrowRight {
    right: calc(15px + 30 * ((100vw - 320px) / 760));
  }
}
.popupGallery__location {
  position: absolute;
  top: 40px;
  left: 40px;
}
@media (max-width: 1080px) {
  .popupGallery__location {
    top: 40px;
    left: 40px;
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__location {
    top: calc(20px + 20 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__location {
    left: calc(20px + 20 * ((100vw - 320px) / 760));
  }
}
.popupGallery__capacity {
  position: absolute;
  top: 40px;
  right: 334px;
}
@media (max-width: 1080px) {
  .popupGallery__capacity {
    top: 40px;
    right: 40px;
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__capacity {
    top: calc(20px + 20 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__capacity {
    right: calc(20px + 20 * ((100vw - 320px) / 760));
  }
}
.popupGallery__diapason {
  position: absolute;
  top: 80px;
  right: 334px;
}
@media (max-width: 1080px) {
  .popupGallery__diapason {
    top: 80px;
    right: 40px;
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__diapason {
    top: calc(50px + 30 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 1080px) and (max-width: 1080px) {
  .popupGallery__diapason {
    right: calc(20px + 20 * ((100vw - 320px) / 760));
  }
}
.popupGallery .badge {
  z-index: 1001;
  display: block;
  width: fit-content;
  font-size: 14px;
  font-size: 14px;
  line-height: 120%;
  padding: 7px;
  border-radius: 2px;
  background-color: rgba(254, 255, 254, 0.9);
}
@media (max-width: 1080px) {
  .popupGallery .badge {
    font-size: calc(9px + 5 * ((100vw - 320px) / 760));
  }
}
.popupGallery__nav {
  flex: 0 0 250px;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .popupGallery__nav {
    display: none;
  }
}
.popupGallery__nav .slick-slide {
  margin-bottom: 10px;
}
.popupGallery__nav .popupGallery__bg {
  height: 130px;
  border-radius: 2px;
}
.popupGallery__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popupGallery__duration {
  margin-right: 40px;
  margin-right: 40px;
}
@media (max-width: 1080px) {
  .popupGallery__duration {
    margin-right: calc(10px + 30 * ((100vw - 320px) / 760));
  }
}
.popupGallery__duration .popupGallery__label {
  text-align: center;
}
@media (max-width: 768px) {
  .popupGallery__label {
    margin-bottom: 5px;
  }
}
.popupGallery__label span {
  color: #ffffff;
  font-weight: 700;
  line-height: 36px;
  font-size: 18px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .popupGallery__label span {
    font-weight: 400;
    line-height: 120%;
  }
}
@media (max-width: 1080px) {
  .popupGallery__label span {
    font-size: calc(12px + 6 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 768px) {
  .popupGallery__price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4px;
    text-align: center;
  }
}
.popupGallery__price p {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  display: inline-block;
  width: 120px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 768px) {
  .popupGallery__price p {
    font-size: 12px;
    width: 100px;
  }
}
.popupGallery__datetime {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 15px;
}
.popupGallery__button {
  margin-top: 30px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1080px) {
  .popupGallery__button {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 760));
  }
}
.popupGallery__button p {
  margin-bottom: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}
@media (max-width: 1080px) {
  .popupGallery__button p {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 760));
  }
}
.popupGallery__error {
  background-color: #ee3a3a;
  border-radius: 2px;
  padding: 5px 15px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
@media (max-width: 768px) {
  .popupGallery__error {
    font-size: 10px;
  }
}
.popupGallery__loader {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #7D8E1A;
  border-radius: 5px;
}
.popupGallery__loader .popupGallery__loader-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.popupGallery__loader .wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popupGallery__loader .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.popupGallery__loader .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.popupGallery__loader .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.popupGallery__loader .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.popupGallery__loader .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.popupGallery__loader .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.popupGallery__loader .wrapper span {
  position: absolute;
  top: 75px;
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 8%;
}
.popupGallery__loader::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./../../img/picture/layer_bg.png");
  opacity: 0.35;
  border-radius: 5px;
}
.popupGallery__loader.z {
  z-index: 10000;
}
.popupGallery__loader.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popupGallery.z {
  z-index: 1001;
}

.popupGallery.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.reservationWindow {
  max-width: calc(100vw - 100px);
  background-color: #BFD6A9;
  margin: 25px auto 50px auto;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .reservationWindow {
    max-width: calc(100vw - 20px);
    margin: 20px auto;
  }
}
.reservationWindow__container {
  padding: 30px 0 50px;
}
@media (max-width: 1260px) {
  .reservationWindow__container {
    padding: 20px 10px 35px 10px;
  }
}
.reservationWindow__filterOpener {
  display: none;
}
@media (max-width: 768px) {
  .reservationWindow__filterOpener {
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-end;
  }
}
.reservationWindow__row {
  display: flex;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .reservationWindow__row {
    padding: 10px 15px;
    flex-wrap: wrap;
    background-color: #F1EAD8;
    border-radius: 5px;
    display: none;
  }
}
.reservationWindow__filter {
  margin-right: 40px;
  margin-right: 40px;
}
@media (max-width: 1080px) {
  .reservationWindow__filter {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 760));
  }
}
@media (max-width: 768px) {
  .reservationWindow__filter {
    margin-bottom: 20px;
  }
}
.reservationWindow__filter:last-of-type {
  margin-right: 0;
}
.reservationWindow__search {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}
@media (max-width: 768px) {
  .reservationWindow__search {
    flex: 0 0 100%;
  }
}
.reservationWindow .reservationMap {
  background-color: #c4c4c4;
  border-radius: 5px;
  width: 100%;
  height: 600px;
}
.reservationWindow #map {
  width: 100%;
  height: 100%;
}

.filterSelect__name {
  margin-bottom: 15px;
}

/*# sourceMappingURL=booking.css.map */
